<div class="teaching-table-wrap">
  <table class="teaching-table">
    <thead>
      <tr>
        <th class="col-title">Course / Material</th>
        <th>Institution</th>
        <th>Year</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      @for (course of courses; track $index) {
        <tr>
          <td class="col-title" data-label="Course / Material">
            @if (course.url) {
              <a [href]="course.url" target="_blank" rel="noopener">{{ course.title }}</a>
            } @else {
              {{ course.title }}
            }
          </td>
          <td data-label="Institution">{{ course.institution }}</td>
          <td data-label="Year">{{ course.year }}</td>
          <td data-label="Location">{{ course.location }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
